.example-headers-align .mat-expansion-panel-header-title,
.example-headers-align .mat-expansion-panel-header-description {
  flex-basis: 0;
}

.example-headers-align .mat-expansion-panel-header-description {
  justify-content: space-between;
  align-items: center;
}

.readNot{
    background-color: rgb(187, 231, 241);
    border: 1px solid  rgb(122, 219, 243);
}

.readComp{
    background-color: rgb(235, 235, 235);
    border: 1px solid  rgb(210, 211, 211);
}

.iconCircle{
    font-size: 19px;
}